h1{
    color: #40ff10;
    text-align: center;
}
body{
    background-color: #808080;
    margin: 0px;
    
}

p{
    color: #2fadff;
    font-size: 20px;
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:#000000 solid;
    border-width: 15px;
    margin: 20px;
    padding: 20px ;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

